<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div class="container">
     
        <header>
            <nav>
              <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </nav>
            <button></button>
        </header>
       
        <section class="sidebar">
            <h3></h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
        </section>
     
        <section class="main">
            <h2></h2>
            <p></p>
             <p> </p>
        </section>
     
        <footer>
            <h3></h3>
            <p></p>
        </footer>
     
    </div>
</body>
</html>
